In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

22/03/09 16:28:38 WARN Utils: Your hostname, VirtualBox resolves to a loopback address: 127.0.1.1; using 10.0.2.15 instead (on interface enp0s3)
22/03/09 16:28:38 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/home/mukhlishga/spark-3.2.1-bin-hadoop3.2/jars/spark-unsafe_2.12-3.2.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/03/09 16:28:40 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
df_pyspark = spark.read.csv('test2.csv', header=True,inferSchema=True)
df_pyspark.show()

+-----+------------+------+
| Name|  Department|Salary|
+-----+------------+------+
| Agus|Data Science| 10000|
| Agus|         IOT|  5000|
| Budi|    Big Data|  4000|
| Agus|    Big Data|  4000|
| Budi|Data Science|  3000|
|Cecep|Data Science| 20000|
|Cecep|         IOT| 10000|
|Cecep|    Big Data|  5000|
| Dede|Data Science| 10000|
| Dede|    Big Data|  2000|
+-----+------------+------+

In [4]:
# groupBy --> like SQL group by, must be accompanied by a group operation e.g. sum, count, mean, etc
df_pyspark.groupBy('Name').max().show()
df_pyspark.groupBy('Department').mean().show()
df_pyspark.groupBy('Department').avg().show()
df_pyspark.groupBy('Department').count().show()

+-----+-----------+
| Name|max(Salary)|
+-----+-----------+
| Dede|      10000|
|Cecep|      20000|
| Agus|      10000|
| Budi|       4000|
+-----+-----------+

+------------+-----------+
|  Department|avg(Salary)|
+------------+-----------+
|         IOT|     7500.0|
|    Big Data|     3750.0|
|Data Science|    10750.0|
+------------+-----------+

+------------+-----------+
|  Department|avg(Salary)|
+------------+-----------+
|         IOT|     7500.0|
|    Big Data|     3750.0|
|Data Science|    10750.0|
+------------+-----------+

+------------+-----+
|  Department|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    4|
|Data Science|    4|
+------------+-----+

In [5]:
# Aggregate --> a direct aggragate funtion
df_pyspark.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|      73000|
+-----------+

In [6]:
spark.stop()