In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

22/03/09 16:29:01 WARN Utils: Your hostname, VirtualBox resolves to a loopback address: 127.0.1.1; using 10.0.2.15 instead (on interface enp0s3)
22/03/09 16:29:01 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/home/mukhlishga/spark-3.2.1-bin-hadoop3.2/jars/spark-unsafe_2.12-3.2.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/03/09 16:29:03 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/03/09 16:29:06 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [3]:
df_pyspark = spark.read.csv('test1.csv', header=True,inferSchema=True)
df_pyspark.show()

+-----+----+----------+------+
| Name| Age|Experience|Salary|
+-----+----+----------+------+
| Agus|  31|        10| 30000|
| Budi|  30|         8| 25000|
|Cecep|  29|         4| 20000|
| Dede|  24|         3| 20000|
| Fani|  21|         1| 15000|
| Gaga|  23|         2| 18000|
| Heri|null|      null| 40000|
| null|  34|        10| 38000|
| null|  36|      null|  null|
+-----+----+----------+------+

In [4]:
# Filter rows with all columns with 1 condition
df_pyspark.filter("Salary<=20000").show()
df_pyspark.filter(df_pyspark['Salary']<=20000).show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
|Cecep| 29|         4| 20000|
| Dede| 24|         3| 20000|
| Fani| 21|         1| 15000|
| Gaga| 23|         2| 18000|
+-----+---+----------+------+

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
|Cecep| 29|         4| 20000|
| Dede| 24|         3| 20000|
| Fani| 21|         1| 15000|
| Gaga| 23|         2| 18000|
+-----+---+----------+------+

In [5]:
# Filter rows with all columns with many conditions, can use and or not & | ~
df_pyspark.filter(
    (df_pyspark['Salary']<=20000) & 
    (df_pyspark['Salary']>=16000)
    ).show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
|Cecep| 29|         4| 20000|
| Dede| 24|         3| 20000|
| Gaga| 23|         2| 18000|
+-----+---+----------+------+

In [6]:
# Filter rows with specific columns with salary less than 20000
df_pyspark.filter("Salary<=20000").select(['Name', 'Age']).show()

+-----+---+
| Name|Age|
+-----+---+
|Cecep| 29|
| Dede| 24|
| Fani| 21|
| Gaga| 23|
+-----+---+

In [7]:
spark.stop()