In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

22/03/09 16:27:21 WARN Utils: Your hostname, VirtualBox resolves to a loopback address: 127.0.1.1; using 10.0.2.15 instead (on interface enp0s3)
22/03/09 16:27:21 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/home/mukhlishga/spark-3.2.1-bin-hadoop3.2/jars/spark-unsafe_2.12-3.2.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/03/09 16:27:22 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
spark

In [4]:
import pandas as pd
df_pandas = pd.read_csv('test1.csv')
df_pandas

    Name   Age  Experience   Salary
0   Agus  31.0        10.0  30000.0
1   Budi  30.0         8.0  25000.0
2  Cecep  29.0         4.0  20000.0
3   Dede  24.0         3.0  20000.0
4   Fani  21.0         1.0  15000.0
5   Gaga  23.0         2.0  18000.0
6   Heri   NaN         NaN  40000.0
7    NaN  34.0        10.0  38000.0
8    NaN  36.0         NaN      NaN

In [5]:
df_pyspark = spark.read.csv('test1.csv', header=True,inferSchema=True)
df_pyspark.show()

+-----+----+----------+------+
| Name| Age|Experience|Salary|
+-----+----+----------+------+
| Agus|  31|        10| 30000|
| Budi|  30|         8| 25000|
|Cecep|  29|         4| 20000|
| Dede|  24|         3| 20000|
| Fani|  21|         1| 15000|
| Gaga|  23|         2| 18000|
| Heri|null|      null| 40000|
| null|  34|        10| 38000|
| null|  36|      null|  null|
+-----+----+----------+------+

In [6]:
#reading input file
df_pyspark = spark.read.option('header','true').csv('test1.csv')
df_pyspark.show()

+-----+----+----------+------+
| Name| Age|Experience|Salary|
+-----+----+----------+------+
| Agus|  31|        10| 30000|
| Budi|  30|         8| 25000|
|Cecep|  29|         4| 20000|
| Dede|  24|         3| 20000|
| Fani|  21|         1| 15000|
| Gaga|  23|         2| 18000|
| Heri|null|      null| 40000|
| null|  34|        10| 38000|
| null|  36|      null|  null|
+-----+----+----------+------+

In [7]:
#reading input header
df_pyspark.head(3)

[Row(Name='Agus', Age='31', Experience='10', Salary='30000'),
 Row(Name='Budi', Age='30', Experience='8', Salary='25000'),
 Row(Name='Cecep', Age='29', Experience='4', Salary='20000')]

In [8]:
#printing input schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Experience: string (nullable = true)
 |-- Salary: string (nullable = true)

In [9]:
#printing input column
df_pyspark.columns

['Name', 'Age', 'Experience', 'Salary']

In [10]:
# selecting a certain column with its row values
df_pyspark.select(['Name', 'Age'])
df_pyspark.select(['Name', 'Age']).show()

+-----+----+
| Name| Age|
+-----+----+
| Agus|  31|
| Budi|  30|
|Cecep|  29|
| Dede|  24|
| Fani|  21|
| Gaga|  23|
| Heri|null|
| null|  34|
| null|  36|
+-----+----+

In [11]:
# describe statistic of column
df_pyspark.describe().show()

+-------+----+------------------+------------------+-----------------+
|summary|Name|               Age|        Experience|           Salary|
+-------+----+------------------+------------------+-----------------+
|  count|   7|                 8|                 7|                8|
|   mean|null|              28.5| 5.428571428571429|          25750.0|
| stddev|null|5.3718844791323335|3.8234863173611093|9361.776388210581|
|    min|Agus|                21|                 1|            15000|
|    max|Heri|                36|                 8|            40000|
+-------+----+------------------+------------------+-----------------+

In [12]:
# adding column in data frame
df_pyspark_add = df_pyspark.withColumn('Age after two years', df_pyspark['Age']+2)
df_pyspark_add.show()

+-----+----+----------+------+-------------------+
| Name| Age|Experience|Salary|Age after two years|
+-----+----+----------+------+-------------------+
| Agus|  31|        10| 30000|               33.0|
| Budi|  30|         8| 25000|               32.0|
|Cecep|  29|         4| 20000|               31.0|
| Dede|  24|         3| 20000|               26.0|
| Fani|  21|         1| 15000|               23.0|
| Gaga|  23|         2| 18000|               25.0|
| Heri|null|      null| 40000|               null|
| null|  34|        10| 38000|               36.0|
| null|  36|      null|  null|               38.0|
+-----+----+----------+------+-------------------+

In [13]:
# dropping column in data frame
df_pyspark_drop = df_pyspark_add.drop('Age after two years')
df_pyspark_drop.show()

+-----+----+----------+------+
| Name| Age|Experience|Salary|
+-----+----+----------+------+
| Agus|  31|        10| 30000|
| Budi|  30|         8| 25000|
|Cecep|  29|         4| 20000|
| Dede|  24|         3| 20000|
| Fani|  21|         1| 15000|
| Gaga|  23|         2| 18000|
| Heri|null|      null| 40000|
| null|  34|        10| 38000|
| null|  36|      null|  null|
+-----+----+----------+------+

In [14]:
# adding column in data frame
df_pyspark_rename = df_pyspark.withColumnRenamed('Name', 'New Nama')
df_pyspark_rename.show()

+--------+----+----------+------+
|New Nama| Age|Experience|Salary|
+--------+----+----------+------+
|    Agus|  31|        10| 30000|
|    Budi|  30|         8| 25000|
|   Cecep|  29|         4| 20000|
|    Dede|  24|         3| 20000|
|    Fani|  21|         1| 15000|
|    Gaga|  23|         2| 18000|
|    Heri|null|      null| 40000|
|    null|  34|        10| 38000|
|    null|  36|      null|  null|
+--------+----+----------+------+

In [15]:
df_pyspark.show()

+-----+----+----------+------+
| Name| Age|Experience|Salary|
+-----+----+----------+------+
| Agus|  31|        10| 30000|
| Budi|  30|         8| 25000|
|Cecep|  29|         4| 20000|
| Dede|  24|         3| 20000|
| Fani|  21|         1| 15000|
| Gaga|  23|         2| 18000|
| Heri|null|      null| 40000|
| null|  34|        10| 38000|
| null|  36|      null|  null|
+-----+----+----------+------+

In [16]:
spark.stop()